body {
  background-color: #242424;
}

#wrapper {
  margin: auto;
  width: 1200px;
  padding: 0;
  background-color: #242424;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}

.spectral-regular {
  font-family: "Spectral", serif;
  font-weight: 400;
  font-style: normal;
}

.spectral-bold {
  font-family: "Spectral", serif;
  font-weight: 700;
  font-style: normal;
}

.spectral-extrabold {
  font-family: "Spectral", serif;
  font-weight: 800;
  font-style: normal;
}

.spectral-regular-italic {
  font-family: "Spectral", serif;
  font-weight: 400;
  font-style: italic;
}

.spectral-bold-italic {
  font-family: "Spectral", serif;
  font-weight: 700;
  font-style: italic;
}

header {
  grid-column: span 12;
  font-size: 24pt;
  margin: 0;
  padding: 30px;
  text-align: center;
}

header h1 {
  margin: 0;
  padding: 0;
  color: white;
}

nav {
  color: white;
  margin: 0;
  grid-column: span 12;
  height: 60px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  width: 296px;
  margin-top: 0;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  border-right: 4px solid white;
}



.start_nav {
  border-left: 4px solid white;
}



nav li a {
  color: white;
  text-decoration: none;
  font-size: 16pt;
  text-align: center;
  display: block;
  padding: 10px;
}

nav li a:hover {
  background-color: #606060;
  transition: background-color 0.25s;
}

.current {
  background-color: #491D7F;
}

main {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  color: white;
}

main section {
  grid-column: span 12;
}

.text_section {
  padding: 0 72px 0 72px;
  font-size: 16pt;
}

.project_sample {
  display: flex;
  column-gap: 25px;
}

#myCarousel {
  margin-bottom: 24px;
}

.f-carousel {
  --f-carousel-spacing: 25px;
  --f-carousel-slide-width: calc(100%-191px);
  padding: 15px 72.5px 15px 72.5px;

  --f-carousel-slide-height: 126px;

  --f-button-width: 35px;
  --f-button-height: 126px;

  --f-button-svg-width: 35px;
  --f-button-svg-height: 1260px;

  --f-button-svg-stroke-width: 10;
}

.f-carousel img {
  width: 191px;
  height: 126px;
}

.button_img {
  z-index: -1;
  position: relative;
  pointer-events: none;
}

#myCarousel .f-carousel__slide {
  text-align: center;
  padding: auto;
  background: #eee;
}

.f-carousel img {
  width: calc(100%);
}

.project_sample img {
  border-radius: 10px;
}

.padding-seventy-two {
  padding: 0 72px 0 72px;
}

.horiz_section {
  display: flex;
}

.left_margin {
  margin: 0;
  margin-left: 12px;
}

video {
  padding: 0 0 130px 0;
}


.socials {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  column-gap: 16px;
}

.s_media {
  height: 66px;
  width: 66px;
  font-size: 66px;
  text-align: center;
  display: flex;
  align-items: center;
}

section div a {
  text-decoration: none;
  color: #FFF;
}

section div a:hover {
  color: #541b9a;
  transition: color 0.25s;
}

footer {
  grid-column: span 12;
  color:#FFF;
  font-size: 18px;
  text-align: center;
}